.head-box{
    background-image: url(../img/promo-back.jpg);
    height: 540px;
    padding-top: 20px;
    background-position:center;
    min-width: 320px;
}

.menu{
    width: 180px;
    padding-bottom: 117px;
}

.logo-container{
    width: 180px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    width: auto;
}

.auth-link{
    display: block;
    text-decoration: none;
    color: #fff;
}

.auth-item{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    height:32px;
    width:86px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0)
}

.auth-item:hover{
    border: 2px solid #fff;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.mine-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 22px;

}

.mine-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 14px;
    margin-right: auto;
    margin-left: auto;
}

.find-button{
    border-radius: 20px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(255, 78, 80);
    text-align: center;
    margin: auto;
    line-height: 40px;
    width: 280px;

}

.partner-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.person-list{
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.person-list::after{
    position: absolute;
    content: " ";
    display: block;
    top: 86px;
    left: 50%;
    transform: translateX(72%);
    border-radius: 50%;
    border: 2px solid #fff;
    height: 36px;
    width: 36px;
}

.col-md-6:nth-child(1) > div > div > .person-list::after{
    background-color: rgb(255, 78, 80);
    background-image: url(../img/tv.png);
}

.col-md-6:nth-child(2) > div > div > .person-list::after{
    background-color: rgb(255, 165, 7);
    background-image: url(../img/flask.png);
}

.col-md-6:nth-child(3) > div > div > .person-list::after{
    background-color: rgb(28, 215, 173);
    background-image: url(../img/cup.png);
}

.col-md-6:nth-child(4) > div > div > .person-list::after{
    background-color: rgb(78, 115, 219);
    background-image: url(../img/flight.png);
}

.img-wrapper{
    display: block;
    justify-content: center;
    height: 122px;
    width: 122px;
    margin: auto;
    border-radius: 50%;
}

.person-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 44px;
}

.interest{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 2rem;
    width: 211px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.footer-button{
    display: block;
    height: 36px;
    width: 276px;
    border-radius: 20px;
    border: 2px solid rgb(255, 78, 80);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 78, 80);
    background-color: #fff;
    outline: none;
}

.footer-button:active{
    outline: none;
}
.footer-button:focus {
    outline: none;
}