*,
*::before {
    box-sizing: inherit;
}

*::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 940px;
    height: auto;
    margin: 0 auto;
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Modern Browsers */
    }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
}

/* lora-italic - latin analog Droid */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'),
       url('../fonts/lora-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v12-latin-italic.woff') format('woff'); /* Modern Browsers */
}

/* oleo-script-swash-caps-regular - latin */
@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oleo-script-swash-caps-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oleo Script Swash Caps'), local('OleoScriptSwashCaps-Regular'),
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.svg#OleoScriptSwashCaps') format('svg'); /* Legacy iOS */
}

/*header*/
.head-box{
    display: flex;
    justify-content: space-between;
    min-height: 15px;
    align-items: flex-end;
    margin-bottom: 110px;
}
.logo{
    display: block;
     font-family: 'Oleo Script Swash Caps';
    font-size: 26px;
    font-weight: 400;
    color: #fed136;
    text-decoration: none;
    line-height:26px;
}

.menu{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 485px;

}

.menu-item{
    cursor: pointer;
}

.underline-menu{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.underline-menu:hover{
    color: #fed136;
}

/* Main*/
.main-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.main-subtitle{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #777;
    margin-bottom: 66px;
    line-height: 40px;
}
.services-box{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.services-item{
    position: relative;
    padding-top: 80px;
    text-align: center;
    width: 278px;
}
.services-item::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    right: 0;
    display: inline-block;
    content: '';
    height: 76px;
    width: 76px;
}
.services-item:nth-child(1)::before{
    background-image: url(../img/icons/basket.png);
}

.services-item:nth-child(2)::before{
    background-image: url(../img/icons/laptop.png);
}

.services-item:nth-child(3)::before{
    background-image: url(../img/icons/locked.png);
}

.item-title{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 50px;
}

.item-des{
    font-size: 14px;
    font-weight: 400;
    color: #777;
    font-family: 'Roboto Slab', sans-serif, serif;
    font-style: normal;
    line-height: 20px;
}

/*footer*/
.contact-form{
    background-color: #222;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-bottom: 20px;
    padding-top: 100px;
    height: 560px;
}

.second-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.second-subtitle{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #777;
    line-height: 50px;
}

.forms-box{
    height: 308px;
    width: 940px;
    margin-top: 56px;
}
.interactive-forms{
    color: #777;
    height: 212px;
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 26px;


}

.name-fild{
    height:50px;
    width: 435px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}
.name-fild:valid{
    outline: 2px solid rgb(10, 231, 58); 
}

.name-fild:invalid:focus{
    outline: 2px solid rgb(241, 5, 5); 
}

.mail-fild{
    height:50px;
    width: 435px;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}

.mail-fild:valid{
    outline: 2px solid rgb(10, 231, 58);
}

.mail-fild:invalid:focus{
    outline: 2px solid rgb(241, 5, 5);
}

.subject-fild{
    height:50px;
    width: 435px;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}

.message-fild{
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    height: 170px;
    width: 416px;
    padding: 20px;
}

.message-fild:valid{
    outline: 2px solid rgb(10, 231, 58);
}

.message-fild:invalid:focus{
    outline: 2px solid rgb(241, 5, 5);
}

.send-button{
    height: 66px;
    width: 240px;
    background-color: #fed136;
    transform: translateX(-50%);
    align-items: center;
    position: absolute;
    left: 50%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}
