



@media (-webkit-min-device-pixel-ratio: 2) {
    .page-header--img{
    background:  -webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138,0.9)), to(rgba(243,129,129,0.9))), url(../img/banner@2x-min.jpg);
    background:  -webkit-linear-gradient(bottom, rgba(252,227,138,0.9), rgba(243,129,129,0.9)), url(../img/banner@2x-min.jpg);
    background:  -o-linear-gradient(bottom, rgba(252,227,138,0.9), rgba(243,129,129,0.9)), url(../img/banner@2x-min.jpg);
    background:  linear-gradient(to top, rgba(252,227,138,0.9), rgba(243,129,129,0.9)), url(../img/banner@2x-min.jpg);
    background-position: top;
  }
}