@media (max-width: 767px) {

    .auth-item{
        align-self: flex-end;
    }

    .find-button{
        width: 280px;
    }

    .mine-title{
        font-size: 30px;
    }

    .mine-subtitle{
        font-size: 18px;
    }

    .person-list {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .person-list:last-child{
        margin-bottom: 0px;
    }
}

/*tablet
-------------------------------------------------------------------------------*/

@media (min-width: 767px) {

    .wrapper{
        width: 747px;
    }

    .head-box{
        display: flex;
        height: 654px;
        padding-top: 46px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .menu{
        margin-right: 30px;
        width: auto;
    }

    .logo{
        margin-left: 48px;
        margin-top: 0;
        height: 36px;
        align-items: center;
    }

     nav + nav{
        order: -1;
    }

    .heder-titles{
        height: 352px;
    }

    .find-button{
        width: 226px;
    }

    .persons-box{
        width:492px;
        padding-top: 69px;
    }

    .mine-title{
        font-size: 52px;
        margin-bottom: 24px;
    }

    .mine-subtitle{
        font-size: 24px;
        margin-bottom: 33px;
    }

    .partners-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    .person-list {
        width: 236px;
        margin-bottom: 38px;
    }

    .person-list:nth-last-child(-n+2){
        margin-bottom: 0px;
    }

    .partner-title{
        margin-bottom: 31px;
    }

    .footer-button{
        width: 188px;
    }
}

/*Desktop
----------------------------------------------------------------------------------*/
@media (min-width: 960px) {
   .wrapper{
       width: 940px;
    }

    .menu{
        margin-right: auto;
        width: auto;
    }

    .head-box{
        background-size: auto;
        height: 660px;
        padding-top: 40px;
        width: 100%;
    }

    .persons-box{
        padding-top: 65px;
    }

    .find-button{
        width: 226px;
    }

    .mine-title{
        font-size: 52px;
    }

    .mine-subtitle{
        font-size: 24px;
    }

    .partners-list{
        justify-content: space-between;
        margin-bottom: 36px;
    }

    .person-list {
        width: 220px;
        margin-bottom: 0;
    }
}