/*Colors*/


$nav_color:#fce38a;
$accent_color:#f38181;
$desc_color:#999;
$text_color:#fff;
$back_color:#95e1d3;
$name_color:#333;
$footer_color:#ccc;
$gradient_color1:rgba(252,227,138,0.9);
$gradient_color2:rgba(243,129,129,0.9);
$team_gradient_color1:rgba(234, 255, 208, .8);
$team_gradient_color2:rgba(252, 227, 138, .8);
$team_gradient_color3:rgba(243, 129, 129, .8);


/*fonts*/

$main_font:'Montserrat', sans-serif;
$title_font:'Kaushan Script', cursive;
$second_font:'Roboto', sans-serif;
$font4:'Montserrat', sans-serif;
