html{
    box-sizing: border-box;
}
*,
*::before {
    box-sizing: inherit;
}
*::after {
    box-sizing: inherit;
}

*{margin: 0;
padding: 0;
}
.wrapper{
font-family: 'Playfair Display', serif;
width: 900px;
margin: 0 auto;
padding-top: 76px;
color:#626262;
}
/* menu*/
.menu a:focus{
    color: blue;
}
.menu{
font-size: 0px;
text-align: center;
}
.menu-item{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-right: 120px;
}
.menu-item:last-child{
    margin-right:0;
}
.menu-link{
display:block;
text-decoration: none;
color:#626262;
}
.header{
    margin-bottom: 100px;
}
/* article*/
.main{
    font-size: 0;
}
.section{
    padding-bottom:70px;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.unnlist{
    margin-bottom: 56px;
}
.li{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 134px;
    padding: 0px;
    font-size: 0px;
    vertical-align: top;
}
.li:nth-last-child(-n + 2) {
   margin-bottom: 0;}

.li:nth-child(2n) {
    margin-right: 0px}

.art-img{
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}
.box-subtitle{
font-family: 'Ubuntu', sans-serif;
text-transform: uppercase;
color: #b4ad9e;
font-size: 14px;
margin-bottom: 18px;
}
.box-title{
font-family: 'Playfair Display', serif;
font-size: 30px;
margin-bottom: 30px;
}
p{
    font-size: 14px;
}
/* button*/
.btn-footer{
    display:block;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color:#626262;
    width: 164px;
    height: 60px;
    background-color: white;
    border-color:#dddcd7;
    border-width: 1px;
    cursor: pointer;
}

 btn-footer a:focus{
    color: blue;}