
*{margin: 0;
padding: 0;
}
.main{
    font-size: 0;
}
.wrapper{
font-family: 'Playfair Display', serif;
width: 960px;
margin: auto;
padding-top: 60px;
}
.article{
    display: inline-block;
    width: 420px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}
.menu-item{
    text-transform: uppercase;
    display: inline-block;
    margin-left:60px;
    margin-right: 60px;
    margin-bottom: 100px;
    font-size: 15px;
    text-align: center;
}
.menu-item-first{
    margin-left:190px;
}
.menu-link{
text-decoration: none;
color: gray;
}
.menu-link-first{
    color: blue;
}
.box-title{
font-family: 'Playfair Display', serif;
font-size: 30px;
margin-bottom: 30px;
margin-top: 20px;
letter-spacing: -1px;
}
.box-subtitle{
font-family: 'Ubuntu', sans-serif;
text-transform: uppercase;
color: grey;
font-size: 14px;
margin-bottom: 20px;
margin-top: 25px;
}
.btn-footer{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    margin-left: 400px;
    background-color: white;
    border-color: black;
    margin-bottom: 30px;
    padding: 10px 30px 10px 30px;
}