



html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*,
*::before {
    box-sizing: inherit;
}
*::after {
    box-sizing: inherit;
}

*{margin: 0;
padding: 0;
}

img {
    display: block;
    height: auto;
}
.clearfix::after {
display: table;
content: "";
clear: both;
}

.wrapper {
    width: 1110px;
    height: auto;
    margin: 0 auto;
    padding-top: 44px;

}
/*header*/

.header{
margin-bottom: 110px;


}
.nav-section{
    line-height: 22px;
}
.logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Roboto light', sans-serif;
    color: #555252;
    text-decoration: none;
    
}
.logo::first-letter{
color: #1abc9c;
font-family: 'Roboto black', sans-serif;

}
.menu{
float: right;
}
.menu-item{
    margin-right: 36px;
    list-style-type: none;
    float: left;
}
.menu-item:last-child{
    margin-right: 0px;
}

.menu-link:hover{
    color: #1abc9c;
}
.menu-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    color: #0f0101;
}

/*main*/
.section-title {
    text-align: center;
    font-family: 'Roboto black', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 80px;
    color: #515151;
}

.section-title::after{
    display:block;
    content:"";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin-left:auto;
    margin-right: auto;
    margin-top: 32px;
}

.product-box:hover > .product-des {
 background-color: #1abc9c;
}
.product-box{
    float: left;
    width: 255px;
    height: 322px;
    margin-right: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    background-color: #e9f0fd;
    display:block;
    font-family: 'Roboto black', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    
}

.product-box:nth-child(4n) {
    margin-right: 0px
}

.product-box:nth-last-child(-n+4) {
    margin-bottom: 0px
}
.product-des{
    width: 100%;
    color: #fff;
    background-color: #323232;
    text-align: left;
    height: 40px;
    line-height: 40px;
}
.product-name{
    width: 201px;
    float: left;
    padding-left: 13px;
}
.product-price{
    width: 54px;
    color: #fff;
    float: right;
    background-color: rgba(255, 255, 255, .44);
    padding: 0 12px;
}
.product-img{
    width: 255px;
    height: 282px;
    max-width: 100%;
}
.product{
    margin-bottom: 100px;
}
/* news*/
.news-article{
    width:350px;
    text-align: left;
    color: #515151;
}
.news-container{
    height: auto;
    margin-bottom: 48px;
}
.news-li{
    float: left;
    width:350px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 16px;
    list-style-type: none;
    display:block;
    text-align: center;
    font-family: 'Roboto black', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.news-li:last-child{
    margin-right: 0px;
}
.news-img{
margin-bottom:15px;
height:262px;
width:350px;
}


.news-title{
font-family: 'Open Sans Semi-bold', sans-serif;
font-size: 18px;
margin-bottom: 31px;
}
.news-title::after{
    display:block;
    content:"";
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    margin-top: 10px;
}
.news-article{
    margin-bottom:15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 440px;
    overflow: hidden;
}

/* buttons*/
.news-button{
    font-family: 'Open Sans light', sans-serif;
    font-size: 16px;
    color:#fff;
    width: 160px;
    height: 51px;
    background-color:#4ec6ab;
    border-width: 0px;
    cursor: pointer;
    float: left;
}




